<h1 class="text-3xl font-bold text-center"><%= gettext "BS title" %></h1>
<p>
  Здесь будет страница настроек параметров радио и packet forwarder.
</p>
<p>
  Будет несколько стандартных шаблонов (RU868, EU868) плюс возможность создавать
  кастомные шаблоны, настроенные под конкретные условия.
</p>
