<div class="flex flex-wrap items-baseline mb-2">
  <div class="w-full md:w-1/4"><%= @name %></div>
  <div class="relative flex items-center input-field content-color w-full md:w-3/4">
    <%= password_input @f, @id, value: @config[@id],
    class: "content-color w-full"
    %>

  </div>
  <div class="w-full text-right text-red-500 text-sm"><%=
    @err[@id] %></div>
</div>
