<!DOCTYPE html>
<html lang="ru"
>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NsgLora", suffix: " · Phoenix Framework" %>

    <link phx-track-static rel="stylesheet"
    href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer phx-track-static type="text/javascript"
    src="<%= Routes.static_path(@conn, "/js/app.js") %>">
    </script>
  </head>

  <body>
        <%= @inner_content %>
  </body>
</html>

<script>
  let mainBody = document.querySelector('body')
  function setBodyClass(light) {
    if (light) {
      mainBody.className = "bg-gray-200"
    } else {
      mainBody.className = "bg-gray-700"
    }
  }

  function alpine_init() {
    let is_light = localStorage.getItem("alpine_isLight") == "true" && true || false
    setBodyClass(is_light)

    return {
      isLight: is_light,
      isShowMenu: true,
      isLoraMenuOpen: false,
      isOtherMenuOpen: false,
      toggleTheme() {
        this.isLight = !this.isLight
        localStorage.setItem("alpine_isLight", this.isLight)
        setBodyClass(this.isLight)
      },
      toggleMenu() {
        this.isShowMenu = !this.isShowMenu
      },
    }
  }
</script>
