<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NsgLora", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>

    <nav class="fixed top-0 inset-x-0 z-50 h-12 text-white bg-gray-800 font-medium flex justify-between items-center shadow-lg">

      <h1 class="text-red-500 text-5xl font-bold text-center">Nav Bar</h1>
      <p> text </p>
    </nav>


    <aside class="hidden mt-12 w-64 text-white bg-gray-700 fixed inset-y-0 overflow-x-hidden overflow-y-auto sm:block">
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
    </aside>
    <main class="pt-12 sm:pl-64">
      <%= @inner_content %>
    </main>
  </body>
</html>
