<!DOCTYPE html>
<html lang="en"
x-data="alpine_init()"
:class="{ 'dark': isDark}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NsgLora", suffix: " · Phoenix Framework" %>

    <link phx-track-static rel="stylesheet"
    href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer phx-track-static type="text/javascript"
    src="<%= Routes.static_path(@conn, "/js/app.js") %>">
    </script>
  </head>

  <body class="bg-gray-100 dark:bg-gray-700">
    <nav
    class="fixed top-0 inset-x-0 z-50 h-12
    bg-gray-200 text-grey-800 dark:bg-gray-800 dark:text-gray-200
    border-b border-gray-400
    font-medium flex justify-between items-center">

      <h1 class="text-5xl font-bold text-center">Nav Bar</h1>


      <div @click="toggleTheme"
      class="mr-2">
        <svg
        x-show="isDark"
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003
          9.003 0 008.354-5.646z"/>
        </svg>

        <svg
        x-show="!isDark"
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343
          6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16
          12a4 4 0 11-8 0 4 4 0 018 0z"/>
        </svg>
      </div>
    </nav>

    <aside class="hidden mt-12 w-64
    bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-200
    border-r border-gray-400
    fixed inset-y-0 overflow-x-hidden overflow-y-auto sm:block">
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
      <p>Menu</p>
    </aside>

    <main class="pt-12 sm:pl-64 bg-gray-100  dark:bg-gray-700 dark:text-gray-200">
      <%= @inner_content %>
    </main>
  </body>
</html>

<script>
  function alpine_init() {
    return {
      isDark: localStorage.getItem("alpine_isDark"),
      toggleTheme() {
        this.isDark = !this.isDark
        localStorage.setItem("alpine_isDark", this.isDark)
      },
    }
  }
</script>
